/* App */

.App {
  background-color: Aliceblue;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content-container {
  display: block;
  position: relative;
  box-sizing: content-box;
  height: 90vh;
  width: 100vw;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  align-items: center;
}

.nav-container {
  height: 10vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
}

/* Content */
/* Content */
/* Win */
/* Header */
